.about-section {
    padding-top: 20px;
    color: $white;
    background-color: #212E44;


    .what-is {
        margin-top: 30px;
    }


    h1 {
        color: $white;
    }

    p {
        font-size: 16px;
        margin: 0;
        margin-bottom: 20px;
    }

    .btn {
        color: $white;
        background-color: $yellow;
        border-radius: 0;
        font-size: 15px;
        padding: 4px 18px;
        margin-top: 15px;
        margin-left: 4px;
        margin-right: 4px;

        i {
            margin-right: 8px;
            font-size: 22px;
            vertical-align: middle;
        }
    }
}
