h1 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 20px;
    color: $blue;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.02em;
    word-spacing: 0.06em;
}

.content-section {
    width: 100%;
    padding: 80px 20px;

    .content {
        position: relative;
        max-width: 80em;
        margin: 0 auto;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(33, 46, 68, 0.82);
}
