.logos-carousel-section {
    background: rgb(237, 237, 241);

    .companies-logos, .institutions-logos {
        margin: 0 50px;

        .slick-slide {
            margin: 10px;
            img {
                width: 100%;
            }
        }

        .slick-prev:before, .slick-next:before {
            color: $yellow;
            opacity: 0.85;
        }
    }

    .nav-tabs {
        border: 0;
        margin-bottom: 20px;

        & > li {
            display: inline-block;
            float: none;
            margin: 0 30px;

            a {
                padding: 15px;
                color: $blue;
                border: 0;
                border-radius: 2px;

                i {
                    font-size: 24px;
                    margin-bottom: 8px;
                }

                div {
                    font-size: 19px;
                }

                &:hover, &:focus {
                    background-color: $white;
                    border: 0;
                }
            }

            &.active > a, .nav-tabs > &.active > a:hover, .nav-tabs > &.active > a:focus {
                color: $white;
                background-color: $blue;
            }
        }
    }

}
