.logos-carousel-section {
    background: rgb(237, 237, 241);

    .companies-and-institutions-logos {
        margin: 0 50px;

        .slick-slide {
            margin: 10px;
            img {
                width: 100%;
            }
        }

        .slick-prev:before, .slick-next:before {
            color: $yellow;
            opacity: 0.85;
        }
    }
}
