.navbar .container {
    width: 100%;
}

.navbar-landing {
    background: none;
    border-color: transparent;
    width: 100%;
    text-align: center;
    margin-top: 20px;

    .navbar-toggle {
        border: none;
    }

    .navbar-collapse {
        border: none;
        box-shadow: none;
        width: 100%;
    }

    .navbar-nav {
        margin: 0;

        &.languages-nav {
            padding-left: 20px;
            & > li {
                font-size: 14px;
            }
        }

        & > li {
            font-size: 16px;
            display: inline-block;

            &  > a {
                color: white;
                text-transform: uppercase;
                padding: 0;
                width: 31px;
                height: 31px;
                line-height: 31px;
                text-align: center;
                border-radius: 2px;
                transition: 0.3s background;
                &:hover, &:active, &:focus {
                    background: rgba(255, 255, 255, 0.15);
                }
            }
        }
    }

    .navbar-right.login {
        clear: both;
        margin-top: 15px;

        a {
            padding: 0 10px;
            border: 1px solid;
            margin: 0 5px;
            border-radius: 0;
            width: auto;
        }
    }

    .navbar-left.regular li a {
        width: auto;
        padding: 0 10px;
    }

}


@media (min-width: 500px) {
    .navbar-landing {

        .navbar-right {
            float: right;
        }

        .navbar-nav {
            &.languages-nav {
                margin-left: 20px;
                border: none;
            }
        }
    }
}

@media (min-width: 768px) {
    .navbar-landing {
        .navbar-collapse {
            width: auto;
        }

        .navbar-nav {
            &.languages-nav {
                border-left: 1px solid rgba(255, 255, 255, 0.39);
            }
        }
    }
}

