.stadistics-section {
    .stadistics-box {

        .stadistic {
            padding-top: 25px;
        }

        p {
            margin: 10px 0;
        }

        .c100 {
            overflow: hidden;
        }
    }
}
