.students-section {
    .students-box {
        padding: 20px 0;


        & > a {
            height: 190px;
            overflow: hidden;
        }

        img {
            width: 130px;
            border-radius: 60%;
            max-width: 100%;
        }

        p {
            margin-top: 15px;
        }
    }

    .button {
        display: inline-block;
        text-decoration: none;
        padding: 11px 16px;
        margin-top: 10px;
        font-size: 13px;
        border: 0;
        color: $white;
        background: $yellow;
        border-radius: 0;
        transition: 0.3s all;
        text-transform: uppercase;
    }
}
