.subscribe-section {
    color: $white;
    position: relative;
    background-color: #35A289;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-image: url('../../img/landing/background-2.png');

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(33, 46, 68, 0.82);
    }

    h1 {
        color: $white;
    }

    .button {
        display: inline-block;
        text-decoration: none;
        padding: 13px 10px;
        border: 0;
        color: $white;
        background: $yellow;
        border-radius: 0;
        width: 60%;
        max-width: 290px;
        transition: 0.3s all;
        text-transform: uppercase;

        &:hover, &:active, &:focus {
            background-color: $yellow-light;
        }
    }

    .social {
        margin-top: 35px;

        .nav {
            font-size: 18px;

            li {
                display: inline-block;
            }

            a {
                color: $white;
            }

            .facebook:hover {
                color: #3b5998;
            }
            .twitter:hover {
                color: #13A4FF;
            }
            .youtube:hover {
                color: #D01717;
            }
            .linkedin:hover {
                color: #0077B5;
            }
        }
    }
}
