/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
composer.lock
clamp.json
.clamp/*
/public/build
/public/css/*
/public/js/build.js
!/public/css/vendor/
.DS_Store
translation-settings.json
