/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
package-lock.json
composer.lock
clamp.json
.clamp/*
/public/build
/public/css
/public/js
/public/*/slick-carousel/*
.DS_Store
translation-settings.json

public/uploads/*/*
!.gitkeep
!.gitignore
