.unique-profile {

    .student-name {
        background: $dark-blue;
        color: $white;

        a {
            color: $yellow;
            text-decoration: underline;
        }

        h2.title {
            font-weight: bold;
            margin: 0;
        }

        .subtitle {
            margin: 0;
            font-size: 24px;
            font-style: italic;
            color: $yellow;
        }
    }

    .icon {
        width: 25px;
        text-align: center;
        color: $blue;
    }

    .student-specs {
        list-style: none;
        padding: 0;
        margin-top: 25px;

        li {
            margin-bottom: 10px;
        }
    }

    .timeline {
        border-left: 1px solid darken($light-gray,10%);
        margin-left: 10px;
        padding-left: 20px;
        font-size: 25px;
        color: $blue;

        .date {
            font-style: italic;
            color: #777;
            font-size: 14px;
        }

        h4 {
            color: $black;
        }
    }

    .section-title {
        margin-top: 0;
        color: $dark-blue;
        border-bottom: 1px solid darken($light-gray,10%);
        padding-bottom: 10px;
        margin-bottom: 15px;


         .fa {
            border: 2px solid $blue;
            width: 34px;
            background: $blue;
            text-align: center;
            height: 34px;
            border-radius: 30px;
            margin-right: 10px;
            color: $white;
            line-height: 30px
        }
    }

    .cards {
        padding: 0;
        list-style: none;

        li {
            background: $light-gray;
            box-shadow: 0px 0px 6px $dark-gray;
            padding: 5px 15px;
            float: left;
            margin: 7px;
        }
    }

    .fa-file-pdf-o {
        color: $red;
    }

    .fa-star {
        color: $yellow;
    }

    .skills {
        margin-top: 15px;
        padding: 0;

        li {
            display: inline-block;
            padding: 5px 20px;
            background: $blue;
            color: $white;
            margin-bottom: 5px;
        }

        li.important {
            background: $brand-success;
            color: $white;
        }
    }

    .legend {
        margin-top: 15px;
        padding: 0;

        li {
            display: inline-block;
            padding: 5px 20px;
            margin-bottom: 5px;

            span {
                background: $blue;
                display: inline-block;
                width: 20px;
                height: 20px;
            }

            span.important {
                background: $brand-success;
                color: $white;
            }
        }
    }
    ul.social {
        list-style: none;
        padding: 0;
        li {
            display: inline;
            font-size: 20px;
            padding: 0 5px;
        }
    }
    .ratings {
        margin-top: 10px;
        font-size: 16px;
        text-transform: uppercase;
        .fa {
            margin-right: 5px;
        }
    }

    .contact-info {
        img.img-responsive {
            display: inline-block;
            margin-top: 20px;
            margin-bottom: 10px;
            border: 6px solid $light-gray;
        }

        .contact {
            overflow-wrap: break-word;
        }

        .btn.btn-connect {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 17px;
            border: none;
            padding: 10px 25px;
        }

    }
}
