@import "resources/assets/sass/variables";

.profile {
    padding-top: 30px;
    padding-bottom: 30px;

    h2.title {
        font-weight: bold;
        margin-top: 0;

        a {
            text-decoration: none;
            color: inherit;
            &:hover, &:active, &:focus {
                color: $blue;
            }
        }

    }

    p:last-child {
        margin-bottom: 0;
    }

    .languages {
        padding: 0;
        li {
            display: inline-block;
            padding: 5px 20px;
            background: $dark-blue;
            color: $white;
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }
    img.img-responsive {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 10px;
        max-height: 200px;
    }
    img.img-cicle {
        border: 6px solid $light-gray;
    }

    .ratings {
        margin-top: 10px;
        font-size: 16px;
        text-transform: uppercase;
        .fa {
            margin-right: 5px;
        }
    }
    .view-more {
        margin-top: 15px;
        font-weight: bold;
        background: $blue;
        text-transform: uppercase;
        border: none;
        &:hover {
            background: darken($blue, 10%)
        }
    }
    ul.social {
        list-style: none;
        padding: 0;
        li {
            display: inline;
            font-size: 20px;
            padding: 0 5px;
            & a:hover {
                text-decoration: none;
            }
        }
    }

}
