body {
	font-family: $font-stack;
	width: 100%;
}

a.icon-link {
    &:hover, &:focus {
        text-decoration: none;
    }
}

.default-message {
    padding: 14px;
}

@media (min-width: 768px) {
    .sm-no-padding-left {
        padding-left: 0;
    }
    .sm-no-padding-right {
        padding-right: 0;
    }
}
