$navbar-height:             70px;
$border-radius-base:        0px;
$border-radius-large:       0px;
$border-radius-small:       0px;
$tooltip-arrow-color:       $blue;
$tooltip-bg:             $blue;
