/* Variables */

$font-stack: "Titillium Web", Helvetica, Sans-serif;

/* Colors */

$blue: #2F70B1;
$dark-blue: #212E44;
$yellow: #FCBD0F;
$yellow-light: #FFC628;
$black: #333;
$white: #fff;
$brown: #654822;
$violet: #8436DA;
$light-gray: #f0f0f0;
$red: #ff3334;

$text-color: $black;
$text-color-alt: $white;
