.pre-footer {
    background: $white;
    margin-top: 20px;
    box-shadow: 0px 0px 6px darken($light-gray, 10%);

    img.te-logo {
        margin-top: 25px;
        max-width: 200px;
        margin-bottom: 20px;
    }

    .navigation {
        list-style: none;
        padding: 0;

        li {
            display: inline-block;
        }

        li a:hover {
            text-decoration: none;
            color: darken($dark-blue,10%);
        }

        li a:after {
            content: " | ";
            color: $brand-primary;
        }

        li:last-child a:after {
            content: "";
        }

    }

    .partner-list {
        list-style: none;
        padding: 0;

        a {
            background: $white;
            color: $white;
            display: inline-block;
            padding: 6px 12px;

            img {
                max-height: 75px;
                max-width: 100%;
            }

            &:hover {
                background: $light-gray;
                text-decoration: none;
            }
        }

        li {
            display: inline-block;
            margin-bottom: 10px;
            padding-bottom: 10px;
        }

        .logo-epa {
            a {
                padding: 0px 12px;
            }
            img {
                max-height: 87px;
            }
        }
    }
}


.footer {
    background-color: $dark-blue;
    color: $white;
    padding: 30px 10px;
    overflow: hidden;
    text-align: center;

    .ue-logos {

        .logo {
            display:block;
            margin: 25px 40px;
        }
    }
}

@media (min-width: 450px) {
    .footer {
        .ue-logos {

            .logo {
                display: inline-block;
            }
        }
    }
}
